<h1 class="title animate__animated animate__jackInTheBox">{{ title }}</h1>
<ul class="animate__animated animate__flipInX" *ngIf="mode == 'list'">
  <p class="text-center" *ngIf="todos.length == 0">
    <small>Você não adicionou nenhuma tarefa hoje!</small>
  </p>
  <li *ngFor="let item of todos">
    {{ item.title }}
    <button (click)="remove(item)">
      <span class="far fa-trash-alt"></span>
    </button>
    <button *ngIf="!item.done" (click)="markAsDone(item)">
      <span class="far fa-check-circle"></span>
    </button>
    <button *ngIf="item.done" (click)="markAsUnDone(item)">
      <span style="color: Tomato">
        <span class="fas fa-check-circle"></span>
      </span>
    </button>
  </li>
</ul>

<div
  id="modal"
  *ngIf="mode == 'add'"
  class="animate__animated animate__flipInX"
>
  <form [formGroup]="form">
    <h1 class="text-center">Nova Tarefa</h1>
    <input
      type="text"
      placeholder="Ex: Estudar Angular"
      maxlength="60"
      formControlName="title"
    />
    <small
      class="danger"
      *ngIf="form.controls.title.invalid && !form.controls.title.pristine"
      >A tarefa deve conter no mínimo 3 caracteres, e máximo de 60 caracteres<br
    /></small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="create()">
        <span class="far fa-save"></span> Salvar
      </button>
    </p>
  </form>
</div>

<button
  class="add-button animate__animated animate__fadeInUp button"
  (click)="changeMode('add')"
  *ngIf="mode == 'list'"
>
  <i class="fa-solid fa-plus"></i> NOVA TAREFA
</button>

<button
  class="add-button animate__animated animate__fadeInUp button"
  (click)="changeMode('list')"
  *ngIf="mode == 'add'"
>
  <i class="fa-solid fa-xmark"></i>
  CANCELAR
</button>
