<h1>{{ title }}</h1>
<ul>
  <p *ngIf="todos.length == 0">
    <small>Você não adicionou nenhuma tarefa hoje!</small>
  </p>
  <li *ngFor="let item of todos">
    {{ item.id }} - {{ item.title }} |
    <button *ngIf="!item.done" (click)="markAsDone(item)">CONCLUIR</button> |
    <button *ngIf="item.done" (click)="markAsUnDone(item)">REFAZER</button> |
    <button (click)="remove(item)">REMOVER</button>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa</label>
    <input
      type="text"
      placeholder="Ex: Estudar Angular"
      maxlength="60"
      formControlName="title"
    />
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"
      >A tarefa deve conter no mínimo 3 caracteres, e máximo de 60
      caracteres</small
    >
    <button [disabled]="form.invalid" (click)="create()">Salvar</button>
  </fieldset>
</form>
